@font-face {
  font-family: "Bold";
  src: url("../fonts/Acorn-Bold.woff");
}

@font-face {
  font-family: "Light";
  src: url("../fonts/Acorn-Light.woff");
}

* {
  background: tan;
  // block: inline-block;
  font-family: "Light";
  color: black;
  font-size: 1rem;
  text-align: center;
}

.error {
  padding: 10px;
  color: crimson;
  border: 1px dotted crimson;
}

.success {
  padding: 10px;
  color: limegreen;
  border: 1px dotted limegreen;
}

.redtest {

  color: red;

}

#page-title {

  color: red;

}

.article-element {

  font-size: 2rem;

}

li {

  list-style-type: none; 
  max-width: 200px;
  padding: 8px;
  margin: 8px auto;
  background: #eee;
  border: 1px dotted #ddd;

}

.box {

  width: 200px; 
  height: 200px; 
  margin: 10px 0; 
  background: #eee; 
  text-align: center; 
  padding: 20px;

}